TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_PHONE=+8613800000000

DEVICE_MODEL=GooglePixel8Pro
SYSTEM_VERSION=SDK 34
APP_VERSION=11.10.2 (4410)
LANG_PACK=android
LANG_CODE=zh-cn
SYSTEM_LANG_CODE=zh-cn
PACKAGE_ID=com.example.telegram.androidlike
INSTALLER=com.android.vending
TZ_OFFSET=28800
PERF_CAT=2

ALLOW_FLASHCALL=false
ALLOW_MISSED_CALL=false
ALLOW_APP_HASH=false
ALLOW_FIREBASE=false
CURRENT_NUMBER=false
UNKNOWN_NUMBER=true
